Ceph
----

.. list-table::
   :header-rows: 0
   :widths: 3 10

   * - **Version**
     - {{ get_val_from_file("ceph_version","environments/infrastructure/configuration.yml") }} / {{ get_val_from_file("repository_version","environments/configuration.yml") }}
   * - **Services**
     {%- for service in get_ceph_services() %}
     - {{ service }}
     {%- endfor %}
   * - **Network cluster**
     - ``{{ get_val_from_file("cluster_network","environments/ceph/configuration.yml") }}``
   * - **Network public**
     - ``{{ get_val_from_file("public_network","environments/ceph/configuration.yml") }}``
   * - **OSD scenario**
     - {{ get_val_from_file("osd_scenario","environments/ceph/configuration.yml") }}
   * - **OSD type**
     - {{ get_val_from_file("osd_objectstore","environments/ceph/configuration.yml") }}
   * - **fsid**
     - ``{{ get_val_from_file("fsid","environments/ceph/configuration.yml") }}``
   * - **Pools**
     {%- for pool in get_openstack_pools() %}
     - {{ pool }}
     {%- endfor %}

